.advertisement {
  position: relative;
}

.ad-photo {
  position: relative;
  width: 100%;
}

.ad-contant {
  position: absolute;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.main-content {
  position: absolute;
  font-size: 50px;
  color: white;
  top: 35%;
  left: 28%;
  white-space: nowrap;
}

.main1-content {
  position: absolute;
  color: white;
  top: 53%;
  left: 36%;
  font-size: 30px;
}

.purchase-button {
  position: absolute;
  top: 75%;
  left: 46%;
  
}

.purchase {
  padding: 15px;
  background-color: white;
  border: 1px solid white;
  opacity: 0.7;
  font-size: 14px;
  cursor: pointer;
}